/* @media only screen and (min-width: 768px) {
	#navbarSupportedContent {
		display: none !important;
	}
} */
.bg-gray {
	background-color: rgba(153, 145, 145, 0.774);
}

.chicken {
	box-sizing: border-box;
	border: 2px solid black;
}

.beef {
	box-sizing: border-box;

	border: 2px solid black;
}

.sushi {
	box-sizing: border-box;
	border: 2px solid black;
}
